/* This file is maintained manually and can be updated as needed. **/

.shuttlerock--stream {
    height: 200px;
}

.block.block-mmg-shuttlerock {
    position: static;
    display: block;
    clear: both;
}

.block.block-mmg-shuttlerock > .content{
    display: block;
    position: relative;
    padding: 2em 0;
}
